#list{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
}
#exercise_list{
    display: none
}
#exercise_list + label{
    cursor: pointer;
}
#exercise_list_ + label{
    cursor: pointer;
}
input[id="exercise_list_"]{
    width: 30px;
    height: 30px;
}
.list_{
    border-bottom: 3px solid black;
}
.list_ label{
    padding-right: 30%;
}
input[id="exercise_list"] + label + div{
    max-height: 0px;
    overflow: hidden;
    transition: all .35s;
}
input[id="exercise_list"]:checked + label + div{
    max-height: 200px;
}
input[class="submit"]{
    font-size: 25px;
    width: 60px;
    height: 30px;
}
#finish{
    position: fixed;
    margin-left: 300px;
    bottom: 5px;
    font-size: 30px;
    background-color: gray;
}
#finish input[class="fin"]{
    display: none;
}
#finish input[class="fin"] + label{
    cursor: pointer;
}
