#content #plan{
    background:rgb(142, 137, 137);
}
#content #achievement{
    margin-top: 10px;
}
#content .header{
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 50px;
}
#content #plan .list{
    position: relative;
    background:rgb(142, 137, 137);
} 
#content #plan .list em{
    position:absolute;
    right:10px;
} 
#content #plan .list label{
    padding-left: 20px;
    cursor: pointer;
    font-size: 40px;
    width: 50px;
}
#content #plan .list label em{
    justify-content: flex-end;
}
#content #plan input[id*='exercise']{
    display: none;
}
#content #plan input[id*='exercise'] + label + div{
    max-height: 0;
    transition: all .35s;
    overflow:hidden;
    background: rgb(180, 175, 175);
    font-size:11px;
}
#content #plan input[id*='exercise'] + label + div p{
    font-size: 25px;
}
#content #plan input[id='exercise_back']:checked + label + div {
    max-height: 200px;
}
#content #plan input[id='exercise_chest']:checked + label + div {
    max-height: 200px;
}
#content #plan input[id='exercise_leg']:checked + label + div {
    max-height: 200px;
}
#content #plan input[id='exercise_shoulder']:checked + label + div {
    max-height: 200px;
}
#content #plan .list div p{
    margin: 0px;
    padding-left: 50px;
    margin-bottom: 2.4px;
}