
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
header{         
    text-align: center;
    font-size: 100px;
    color: black;
}
header hr{
    border:solid 10px black; 
    margin: 0px; 
    margin-top: 10px;
    margin-bottom: 25px;
}
section{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
#join input[type="text"]{
    height: 50px;
    font-size: 40px;
    border: none;
}
#join input[type="password"]{
    height: 50px;
    font-size: 40px;
    border: none;
}
#join input[type="button"]{
    cursor: pointer;
    background-color: white;
    font-size: 40px;
    border: none;
}
#join hr{
    border:solid 5px black;
    margin: 0;
}
#idError{
    font-size: 20px;
    height: 20px;
    color:red;
    font-weight: 700;
    margin-bottom: 10px;
}
